* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 115, 255);
    background-image: linear-gradient(rgb(66, 211, 255), rgb(4, 53, 139));
}

html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    position: fixed;
    z-index: 1000;
    height: 150px;
    background-color: rgba(124, 135, 150, 0);
    background-image: linear-gradient(rgba(6, 197, 255, 0), rgba(0, 94, 255, 0));
    flex-wrap: wrap;





    .nav-logo {
        display: flex;
        border: 4.5px solid darkblue;
        border-radius: 25px;
        padding: 10px;
        margin-left: 20px;
        margin-top: 15px;

        img {
            display: flex;
            width: 125px;
            height: 120px;

        }

    }


    .nav-links {
        display: flex;



        ul {

            display: flex;

            li {
                list-style: none;
                margin: 15px;

                a {
                    text-decoration: none;
                    font-size: 2.55rem;
                    color: rgb(0, 98, 255);
                    border-bottom: 3px solid rgb(55, 71, 78);
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-family: 200;
                }

            }


            a:hover {
                color: darkblue;
                border-bottom: 5px solid rgb(0, 183, 255);
                transition: ease-in-out 1.05s;
                font-size: 3rem;
            }
        }
    }

    #Menu-toggle {
        display: none;
    }
}




.landing-page {
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100vh;

    flex-direction: column;
    position: relative;




    img {

        position: absolute;

        right: 70rem;

        top: 12rem;

        width: 750px;

        height: 750px;

    }




    h2 {
        max-height: fit-content;

        max-width: fit-content;

        position: absolute;

        top: 20rem;

        left: 55rem;

        font-size: 3.4rem;

        border-bottom: 10px solid skyblue;

        border-radius: 25px;

        color: rgb(2, 61, 156);
    }



    .landing-container {
        p {
            position: absolute;

            left: 65rem;

            width: 650px;

            color: rgb(2, 61, 156);

            background-color: rgb(255, 255, 255);

            border-radius: 45px;

            padding: 25px;

            font-size: 1.5rem;



            a {
                text-decoration: none;

                color: rgb(255, 255, 255);

                background-color: rgb(0, 115, 255);

                background-image: linear-gradient(rgb(66, 211, 255), rgb(4, 53, 139));

                border-radius: 25px;

                padding: 4px;

            }


            a:hover {
                background-color: rgb(73, 108, 150);
                transition: all ease-in-out 1.05s;
                background-image: linear-gradient(rgb(0, 0, 0), rgb(4, 88, 234));
            }


        }
    }
}


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;




    h1 {
        font-size: 6.5rem;
        color: rgb(5, 122, 255);

    }




    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 20px;
        background-color: rgba(255, 255, 255, 0.612);
        flex-wrap: wrap;
        gap: 20px;
        border-radius: 3px;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;



            img {
                border-radius: 25px;
                width: 350px;



            }


        }


        .content {
            h3 {
                width: 500px;
            }
        }

    }
}


.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}

.contact-link-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    flex-direction: column;
    background-color: rgb(6, 14, 255);
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
    align-items: center;

    i {
        font-size: 4rem;
        color: white;
        flex-direction: column;
        cursor: pointer;

    }

    a {
        text-decoration: none;
        font-size: 2rem;
        color: white;

    }


    i:hover {
        color: darkred;
        transition: 0.5s all ease-in-out;
    }


}





.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


@media screen and (max-width:2160px) {}

@media screen and (max-width:1080px) {}

@media screen and (max-width:768px) {}


@media screen and (max-width:667px) {}

@media screen and (max-width:500px) {}