* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}



.user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: aquamarine;

    img {
        width: 500px;
        margin: 20px;
        border-radius: 25px;
        border: 1px solid black;

    }

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 2rem;
        margin: 20px;
    }

}