body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    color: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

button {
    background-color: #A7C7E7;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #87B0D9;
}