@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Faustina:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}

h1,
h2,
h3,
a {
    font-family: "Cal Sans", sans-serif;
    color: #f7f5f8;
}

p {
    font-family: "Faustina", serif;
    color: #a2bcf1;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #32353e;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #32353e;
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
    z-index: 1000;


    ul {
        display: flex;
        list-style: none;

        li {
            margin: 0 1.5rem;

            a {
                text-decoration: none;
                font-size: 2rem;
            }

            a:hover {
                color: #a2bcf1;

            }
        }

        li:hover {
            animation: headShake;
            animation-duration: 1s;
        }
    }

    #menuToggle {
        display: none;
    }
}

.mobile-nav-links {
    display: none;
}

#behind {
    height: 50px;
}

.landing {
    #shape-img {
        position: absolute;
        height: 100%;
        left: 0;
        z-index: 2;
    }

    #landing-img {
        position: absolute;
        height: 100%;
        right: -10vh;
        border-radius: 50%;
    }

    h1 {
        z-index: 10;
        font-size: 200px;
        position: absolute;
        width: 950px;
        left: 50px;
        bottom: 25%;
    }

    h2 {
        z-index: 10;
        font-size: 60px;
        position: absolute;
        left: 50px;
        bottom: 20%;
    }
}

.contact {
    min-height: fit-content;
    background-color: #0f4791;
    background-image: url(./images/contact.png);
}

.social-container {
    display: flex;
    flex-direction: row;

    .social {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f7f5f8;
        margin-right: 50px;
        cursor: pointer;
    }
}

footer {
    background-color: #0f4791;
    display: flex;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    i {
        color: #0f4791;
        overflow-y: hidden;
        font-size: 75px;
    }

    #contact-me {
        margin-left: 50px;
        text-align: center;
        font-size: 30px;
    }
}

@media screen and (max-width: 1750px) {

    nav {
        background-color: red;
    }

    .landing {
        #shape-img {
            width: 100%;
            left: 0;
            z-index: 2;
        }

        #landing-img {
            width: 100%;
            right: -10vh;
            border-radius: 50%;
        }

        h1 {
            z-index: 10;
            font-size: 200px;
            position: absolute;
            width: 950px;
            left: 50px;
            bottom: 25%;
        }

        h2 {
            z-index: 10;
            font-size: 60px;
            position: absolute;
            left: 50px;
            bottom: 20%;
        }
    }

}

@media screen and (max-width:675px) {
    nav {
        justify-content: right;
        padding: 1rem;
        background-color: greenyellow;
        overflow-y: hidden;

        .nav-links {
            display: none;
        }

        #menuToggle {
            display: flex;
            font-size: 3rem;
            cursor: pointer;
            overflow-y: hidden;
        }

    }

    .mobile-nav-links {
        display: flex;
        position: absolute;
        right: 0;
        top: 100px;
        height: 500px;
        width: 500px;

        ul {
            z-index: 1000;
            flex-direction: column;
            background-color: black;
            padding: 1rem;
            border-radius: 20px;
            transform: translateX(230%);
            transition: ease-in-out 0.5s;
        }
    }

    .mobile-nav-links.open {
        ul {
            transform: translateX(0%);
            transition: ease-in-out 0.5s;
        }
    }
}