  @import url("https://use.typekit.net/but6omr.css");

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      background-color: burlywood;
      color: rgb(100, 74, 41);

  }

  .container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 25%;
      right: 25%;
      width: 965px;
      height: 500px;
      background-color: rgb(255, 244, 231);
      border-radius: 30px;
      border: 6px solid rgb(185, 102, 2);
      box-shadow: 4px 4px 6px rgb(56, 35, 8);

      h3 {
          font-family: jimbo-expanded-std, sans-serif;
          font-size: 3rem;
          margin-right: 3rem;
          text-shadow: 2px 2px 2px rgb(88, 35, 3);
      }
  }