* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home,
.about,
.skill,
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

nav {
    background-color: #452103;
}

.home,
.contact {
    background-color: #690500;
}

.about {
    background-color: #bb6b00;
}

.skill {
    background-color: #934b00;
}