@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(166, 183, 194);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Mountains of Christmas", serif;
}

.joke-button {
    background-color: #4078ac;
    color: rgb(217, 230, 241);
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: solid 5px rgb(43, 72, 101);
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgb(116, 138, 165);
    font-family: "Mountains of Christmas", serif;
}

.joke-button:hover {
    background-color: #3a6b98;
    cursor: pointer;
}

.jokes-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(84, 118, 144);
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
    box-shadow: 8px 4px 8px rgb(116, 138, 165);
    border: solid 5px rgb(43, 72, 101);

    h1 {
        font-size: 1.5;
    }
}