@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Playpen+Sans:wght@100..800&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: Playpen Sans, Poppins;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Playpen Sans;
}

.nav {
    position: absolute;
    left: 50%;
    top: 5%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 4;


}

.nav-box {
    position: fixed;
    width: 600px;
    height: 100px;
    background-color: rgba(250, 235, 215, 0.848);
    border-radius: 40px 40px;
    border: 2px solid rgb(199, 126, 0);
    justify-content: space-between;
    display: flex;
    text-align: center;

    align-items: center;

    ul {

        display: flex;




        li {
            list-style: none;
            margin-left: 70px;

            a {
                text-decoration: none;
                color: rgb(199, 126, 0);
                font-size: 1.2rem;
                font-weight: 500;

            }
        }

    }
}

.landing-page {
    display: flex;
    justify-content: center;



    height: 100vh;
    background-color: rgba(140, 62, 3, 0.754);
    color: rgb(255, 209, 5);
    text-align: center;
    position: relative;

    h1 {

        font-size: 14rem;
        text-shadow: 3px 3px 2px green;
        margin-top: 10px;
        font-family: Madimi One;
        flex-direction: row;

    }



}

.landing-page::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/Untitled\ design\ \(34\).png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}

.image1 {
    position: absolute;

    top: 0;
    left: 140px;
    width: 1220px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    object-fit: contain;
    transform: translateX(-90%);
    transition: all ease-in-out .9s;
}

.image2 {
    display: none;
}


.container {
    display: flex;
    height: 100vh;

    background-color: rgba(66, 48, 2, 0.119);
    color: rgb(255, 209, 5);

    display: grid;
    grid-template-columns: 1fr 1fr;


    grid-template-areas:
        "ab sk"

    ;

    img {
        width: 200px;
        height: 200px;
    }


}

#img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;

    ul {
        display: flex;

        li {
            list-style: none;


            font-size: 1.5rem;
            font-weight: 500;

        }
    }
}

.about {
    grid-area: ab;
    background-color: rgb(255, 254, 205);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {

        font-size: 4rem;
        font-weight: 200;


    }

}

.skills {
    grid-area: sk;
    background-color: rgb(255, 252, 231);
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2 {

        font-size: 4rem;
        font-weight: 200;
    }

}

.audio-container {
    position: absolute;
    right: 0;
    top: 50%;
    display: flex;
    justify-content: end;
    align-items: center;

}

.box {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 200px;
    flex-direction: column;
    padding: 10px;

    background-color: rgba(255, 227, 103, 0.291);
    border-radius: 20px 40px;
    border: 2px solid rgb(199, 126, 0);
    z-index: 2;

    i {
        color: rgba(101, 89, 0, 0.875);
        font-size: 1.6rem;
        letter-spacing: 15px;
        text-shadow: 1px 2px 1px rgb(199, 166, 1);
        padding: 15px;
        text-align: center;

    }

    .play {
        padding-left: 12px;

    }

    .backward {
        transform: rotate(89.5deg);
    }

    .forward {
        transform: rotate(89.5deg);
    }


    .pause {
        display: none;
        padding-left: 12px;
    }

    button {
        background-color: transparent;
        border: none;
    }



}

i:hover {
    cursor: pointer;
    color: rgba(161, 154, 103, 0.875);

}






@media screen and (max-width:320px) {
    .container {
        display: flex;
        justify-content: center;
        height: 100vh;
        background-color: rgba(194, 141, 6, 0.162);
        color: rgb(255, 209, 5);
        text-align: center;

        .image2 {
            display: flex;
            position: absolute;
            top: -590px;
            left: -10%;
            width: 900px;
            height: 1000px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            object-fit: contain;
            transform: translateY(200%);
            transition: all ease-in-out .9s;
        }

        .image1 {
            display: none;
        }


    }
}


@media screen and (max-width:768px) {
    .landing-page {
        display: flex;
        justify-content: center;
        height: 100vh;
        background-color: rgba(194, 141, 6, 0.162);
        color: rgb(255, 209, 5);
        text-align: center;
        position: relative;

        h1 {
            font-size: 6rem;
            text-shadow: 3px 3px 2px green;
            margin-top: 80px;
            font-family: Madimi One;
            flex-direction: row;
        }



    }

    .landing-page::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(./img/Untitled\ design\ \(37\).png);
        background-size: cover;
        background-position: center;
        z-index: -1;
    }

    .container {
        display: flex;
        justify-content: center;
        height: 100vh;
        background-color: rgba(194, 141, 6, 0.162);
        color: rgb(255, 209, 5);
        text-align: center;

        .image2 {
            display: flex;
            position: absolute;
            top: -590px;
            left: -10%;
            width: 1000px;
            height: 1480px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            object-fit: contain;
            transform: translateY(200%);
            transition: all ease-in-out .9s;
        }

        .image1 {
            display: none;
        }


    }
}


@media screen and (max-width:850px) {
    .landing-page {

        position: relative;

        h1 {
            font-size: 4rem;

            margin-top: 70px;
            font-family: Madimi One;
            letter-spacing: 10px;

        }



    }

    .container {
        display: flex;
        justify-content: center;
        height: 100vh;
        background-color: rgba(194, 141, 6, 0.162);
        color: rgb(255, 209, 5);
        text-align: center;

        .image2 {
            display: flex;
            position: absolute;
            top: -640px;
            left: -12px;
            width: 600px;
            height: 1480px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            object-fit: contain;
            transform: translateY(200%);
            transition: all ease-in-out .9s;
        }

        .image1 {
            display: none;
        }
    }

}


@media screen and (min-width:1024px) {
    .landing-page {
        display: flex;
        justify-content: center;
        height: 100vh;
        background-color: rgba(194, 141, 6, 0.162);
        color: rgb(255, 209, 5);
        text-align: center;
        position: relative;

        h1 {
            font-size: 6rem;
            text-shadow: 3px 3px 2px green;
            margin-top: 80px;
            font-family: Madimi One;
            flex-direction: row;
            letter-spacing: 20px;
        }



    }

    .container {
        display: flex;
        justify-content: center;
        height: 100vh;
        background-color: rgba(194, 141, 6, 0.162);
        color: rgb(255, 209, 5);
        text-align: center;

        .image2 {
            display: none;

        }

        .image1 {
            display: flex;
            width: 1000px;
        }


    }

}

@media screen and (min-width:1280px) {
    .landing-page {

        position: relative;

        h1 {
            font-size: 12rem;
            letter-spacing: 30px;
            margin-top: 220px;
            font-family: Madimi One;

        }



    }

    .container {
        display: flex;
        justify-content: center;
        height: 100vh;
        background-color: rgba(194, 141, 6, 0.162);
        color: rgb(255, 209, 5);
        text-align: center;

        .image2 {
            display: none;

        }

        .image1 {
            display: flex;
            position: absolute;
            top: -130px;
            left: 240px;
            object-fit: contain;
            width: 1400px;
            height: 1440px;
        }


    }

}