* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.joke-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(220, 20, 60, 0.553);

}

.joke-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.joke-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 20px;


}

.joke-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(153, 50, 204, 0.395);
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: 0 0 5px pink;

}