@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://use.typekit.net/but6omr.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "baloo-bhaijaan-2-variable", sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
    color: rgb(253, 248, 231);
    font-size: 2rem;

}

body {
    font-family: Sour Gummy, sans-serif;
    background-color: #dfe2b979;
}

html {
    scroll-behavior: smooth;

}



.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6a5e4665;

    a {
        padding-top: 50px;
        text-decoration: none;
        font-size: 1.5rem;
        color: rgb(227, 227, 177);
    }

    a:hover {
        color: rgb(182, 182, 155);
        cursor: pointer;
    }

    h1 {
        text-shadow: 2px 2px 2px rgb(81, 82, 60);
        letter-spacing: 4px;
    }
}

.form::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/GUES.webp);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#registration-form {
    display: flex;
    flex-direction: column;
    width: 380px;
    background-color: rgba(156, 162, 130, 0.638);
    padding: 5rem;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgb(85, 102, 74);

    label {
        font-size: 1.1rem;
        color: rgb(236, 242, 206);
    }

    input {
        height: 1.5rem;
        font-size: 1rem;
        padding: 0.5rem;
        margin-bottom: 1.3rem;
        color: rgb(223, 226, 43);
    }

    input:focus {
        background-color: rgb(252, 255, 240);
        outline-color: rgb(217, 246, 50);
    }

    button {
        padding: 0.3rem;
        margin-top: 1rem;
        border-radius: 5px;
        box-shadow: 4px 4px 3px rgb(89, 37, 65);
        background-color: rgb(211, 209, 193);
        color: rgb(75, 77, 50);
        font-size: 1.1rem;
    }

    button:hover {
        transition: all ease-in-out .5s;
        background-color: rgb(207, 210, 190);
        color: rgb(176, 176, 148);
        cursor: pointer;
    }
}

.error {
    color: rgb(255, 0, 0);
    font-size: .8rem;
    text-transform: uppercase;
}

a {

    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(69, 70, 60);
}

a:hover {
    color: rgb(165, 165, 148);
    cursor: pointer;
}

img {
    width: 500px;
    height: 600px;
    object-fit: cover;
    margin-left: 40px;
    margin-top: 30px;
    border-radius: 50px;
    flex-wrap: wrap;
}

.img1-container {
    h1 {
        position: absolute;
        top: 10%;
        right: 10%;
        color: rgb(113, 113, 104);
    }

    p {
        position: absolute;
        top: 15%;
        right: 13%;
        width: 700px;
        color: rgb(60, 56, 3);
        font-size: 1.1rem;
        letter-spacing: 1.5px;
    }
}



.img2-container {
    h1 {
        position: absolute;
        top: 75%;
        right: 10%;
        color: rgb(109, 100, 112);
    }

    p {
        position: absolute;
        top: 80%;
        right: 13%;
        width: 700px;
        color: rgb(99, 66, 114);
        font-size: 1.1rem;
        letter-spacing: 1.5px;
    }
}

.img3-container {
    h1 {
        position: absolute;
        top: 142%;
        right: 10%;
        width: 700px;
        color: rgb(141, 141, 43);
    }

    p {
        position: absolute;
        top: 150%;
        right: 10%;
        width: 700px;
        color: rgb(64, 57, 1);
        font-size: 1.1rem;
        letter-spacing: 1.5px;
    }
}

.img4-container {
    h1 {
        position: absolute;
        top: 202%;
        right: 10%;
        width: 700px;
        color: rgb(145, 102, 1);
    }

    p {
        position: absolute;
        top: 210%;
        right: 10%;
        width: 700px;
        color: rgb(95, 70, 13);
        font-size: 1.1rem;
        letter-spacing: 1.5px;
    }
}

.img5-container {
    h1 {
        position: absolute;
        top: 268%;
        right: 10%;
        width: 700px;
        color: rgb(96, 56, 0);
    }

    p {
        position: absolute;
        top: 278%;
        right: 10%;
        width: 700px;
        color: rgb(138, 99, 0);
        font-size: 1.1rem;
        letter-spacing: 1.5px;
    }
}

.img6-container {
    h1 {
        position: absolute;
        top: 330%;
        right: 10%;
        width: 700px;
        color: rgb(136, 136, 113);
    }

    p {
        position: absolute;
        top: 339%;
        right: 10%;
        width: 700px;
        color: rgb(57, 57, 30);
        font-size: 1.1rem;
        letter-spacing: 1.5px;
    }
}

.img7-container {
    h1 {
        position: absolute;
        top: 397%;
        right: 10%;
        width: 700px;
        color: rgb(127, 136, 100);
    }

    p {
        position: absolute;
        top: 405%;
        right: 10%;
        width: 700px;
        color: rgb(73, 77, 60);
        font-size: 1.1rem;
        letter-spacing: 1.5px;
    }
}

.img8-container {
    h1 {
        position: absolute;
        top: 465%;
        right: 10%;
        width: 700px;
        color: rgb(89, 72, 89);
    }

    p {
        position: absolute;
        top: 475%;
        right: 10%;
        width: 700px;
        color: rgb(84, 12, 96);
        font-size: 1.1rem;
        letter-spacing: 1.5px;
    }
}

.container {
    display: none;
}

@media screen and (max-width:860px) {
    img {
        width: 300px;
        height: 400px;
        object-fit: cover;
        margin-left: 40px;
        margin-top: 30px;
        border-radius: 50px;
        flex-wrap: wrap;
    }

    .img1-container {
        h1 {
            display: none;

        }

        p {
            display: none;
        }
    }



    .img2-container {
        h1 {
            display: none;
        }

        p {
            display: none;
        }
    }

    .img3-container {
        h1 {
            display: none;
        }

        p {
            display: none;
        }
    }

    .img4-container {
        h1 {
            display: none;
        }

        p {
            display: none;
        }
    }

    .img5-container {
        h1 {
            display: none;
        }

        p {
            display: none;
        }
    }

    .img6-container {
        h1 {
            display: none;
        }

        p {
            display: none;
        }
    }

    .img7-container {
        h1 {
            display: none;
        }

        p {
            display: none;
        }
    }

    .img8-container {
        h1 {
            display: none;
        }

        p {
            display: none;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        line-height: 25px;
        padding-left: 20px;
        font-size: 1.2rem;
        color: rgb(80, 80, 2);
    }

    span {
        span {
            padding-left: 10px;
            font-weight: 600;
            color: rgb(129, 121, 75);
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #6a5e4665;



        h1 {
            padding-left: 30px;
            text-shadow: 2px 2px 2px rgb(81, 82, 60);
            letter-spacing: 4px;
        }
    }
}

@media screen and (max-width:1492px) {
    .img1-container {
        h1 {
            position: absolute;
            top: 10%;
            right: 10%;
            color: rgb(113, 113, 104);
            font-size: 1.5rem;
        }

        p {
            position: absolute;
            top: 15%;
            right: 3%;
            width: 700px;
            color: rgb(60, 56, 3);
            font-size: .9rem;
            letter-spacing: 1.5px;
        }
    }



    .img2-container {
        h1 {
            position: absolute;
            top: 75%;
            right: 10%;
            color: rgb(109, 100, 112);
            font-size: 1.5rem;
        }

        p {
            position: absolute;
            top: 80%;
            right: 3%;
            width: 700px;
            color: rgb(99, 66, 114);
            font-size: .9rem;
            letter-spacing: 1.5px;
        }
    }

    .img3-container {
        h1 {
            position: absolute;
            top: 142%;
            right: 3%;
            width: 700px;
            color: rgb(141, 141, 43);
        }

        p {
            position: absolute;
            top: 150%;
            right: 3%;
            width: 700px;
            color: rgb(64, 57, 1);
            font-size: .9rem;
            letter-spacing: 1.5px;
        }
    }

    .img4-container {
        h1 {
            position: absolute;
            top: 208%;
            right: 3%;
            width: 700px;
            color: rgb(145, 102, 1);
        }

        p {
            position: absolute;
            top: 215%;
            right: 3%;
            width: 700px;
            color: rgb(95, 70, 13);
            font-size: .9rem;
            letter-spacing: 1.5px;
        }
    }

    .img5-container {
        h1 {
            position: absolute;
            top: 273%;
            right: 3%;
            width: 700px;
            color: rgb(96, 56, 0);
        }

        p {
            position: absolute;
            top: 280%;
            right: 3%;
            width: 700px;
            color: rgb(138, 99, 0);
            font-size: .9rem;
            letter-spacing: 1.5px;
        }
    }

    .img6-container {
        h1 {
            position: absolute;
            top: 335%;
            right: 3%;
            width: 700px;
            color: rgb(136, 136, 113);
        }

        p {
            position: absolute;
            top: 343%;
            right: 3%;
            width: 700px;
            color: rgb(57, 57, 30);
            font-size: .9rem;
            letter-spacing: 1.5px;
        }
    }

    .img7-container {
        h1 {
            position: absolute;
            top: 408%;
            right: 3%;
            width: 700px;
            color: rgb(127, 136, 100);
        }

        p {
            position: absolute;
            top: 415%;
            right: 3%;
            width: 700px;
            color: rgb(73, 77, 60);
            font-size: .9rem;
            letter-spacing: 1.5px;
        }
    }

    .img8-container {
        h1 {
            position: absolute;
            top: 475%;
            right: 3%;
            width: 700px;
            color: rgb(89, 72, 89);
        }

        p {
            position: absolute;
            top: 485%;
            right: 3%;
            width: 700px;
            color: rgb(84, 12, 96);
            font-size: .9rem;
            letter-spacing: 1.5px;
        }
    }
}